
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*#root {
  height: 100vh;
}*/

.cardHighlight {
  min-height: 100%;
}

 a:hover {
  cursor: pointer;
 }

 .text-deco-none {
  text-decoration: none;
 }

 .text-deco-none a {
  text-decoration: none;
 }

 .navbar {
  display: flex;
  flex-direction:  row;
  padding: 0 2rem;
 }

 .links {
  display: flex;
  flex-direction: row;
 }

 .svgcolor {
  color: white;
 }

 .nav-links-item {
  color: white;
  padding: 0 .5rem;
 }

.cart-icon {
  padding: 0 1rem;
}

.badge {
  display: inline-block;
  padding: 0 .5rem;
}

.center-texts {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.vh-70 {
  height: 70vh;
}

.items-center {
  align-items: center;
}

.bg-section {
  background-image: 
                linear-gradient(
                      rgba(0, 0, 0, 0.0) 0%,
                      rgba(0, 0, 0, 0.5) 70%,
                      rgba(0, 0, 0, 0.6) 90%,
                      rgba(0, 0, 0, 0.7) 95%,
                      rgba(0, 0, 0, 1.0) 100%),
                url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
}

.checkout-bg {
  background-color:  #eee;
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/